**1-Write a Python program to calculate the length of a string using 2 ways

In [63]:
s="Training"
print(len(s))

8

In [64]:
count=0
for i in range(len(s)):
    count+=1
print(count)

8

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [65]:
instr=input("Enter any string: ")
def printstr(instr):
   result=""
   if len(instr) >2:
      result=instr[:2]+instr[-2:]
      print(result)
   elif len(instr)==2:
      result=instr*2
      print(result)
   else:
      print(result)   
    
printstr(instr)

w3ce

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [66]:
ins=input("Enter your string: ")
def strUpdate(ins):
    if len(ins)>=3 and ins[-3:]!="ing":
        ins+="ing"
        print(ins)
    elif ins[-3:]=="ing":
        ins+="ly"
        print(ins)
    else:
        print(ins)

strUpdate(ins)

eating

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [67]:
l=["exercises","eat","practice","drink"]
def longest(l):
    max=0
    result=""
    for i in l:
        if max< len(i):
            max=len(i)
            result=i
    print("Longest word:",result,"length of the longest word:",max)        
longest(l)

Longest word: exercises length of the longest word: 9

In [69]:
Longest_word = max(l,key=len)
print("Longest word:",Longest_word,"length of the longest word:",len(Longest_word))

Longest word: exercises length of the longest word: 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [70]:
st=input("enter a string: ")
newch=chr(ord(st[0])+1)
print(newch+ st[1:-1]+ newch )

bbcdb

In [71]:
import random, string
rand = random.choice(string.ascii_letters)
print(rand+ st[1:-1]+ rand )

mbcdm

In [72]:
print(st[-2]+st[1:-1]+st[1])

dbcdb

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [73]:
s="wessal"
result=""
for i in range(0,len(s),2):
    result+=s[i]
print(result)

wsa

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [75]:
s="amr and ahmed are frindes but amr is the tallest"
def countword(s):
    words=s.split()
    count=dict()
    for word in words:
        if word in count:
          count[word]+=1
        else:
           count[word]=1 
    #print(max(count.values()))         
    return count
print(countword(s))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [76]:
s=input()
print(s.upper())
print(s.lower())

HELLO! I AM PRACTICING CODING IN PYTHON.
hello! i am practicing coding in python.

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [77]:
s="Wessal salah"
if(len(s)%4==0):
  print("".join(reversed(s)))
  print(s[::-1])

halas lasseW
halas lasseW

**10- Write a Python program to remove a newline in Python

In [78]:
strng="""Good evening!
How's your day going?
Well done!"""
print(strng.replace("\n"," "))

Good evening! How's your day going? Well done!

**11-Write a Python program to check whether a string starts with specified characters

In [79]:
st="we"
s=input()
def check(s,st):
  if s[:2]==st:
    return True
  else:
    return False
if check(s,st):
  print ("The word start with (we)")
else:
  print ("The word doesn\'t start with (we)")

The word doesn't start with (we)

**12- Write a Python program to add prefix text to all of the lines in a string

In [82]:
s="""Good evening!
How's your day going?
Everything is good
Well done!"""
s=s.split("\n")
result=""
for i in s:
   result="> "+i
   print(result)

> Good evening!
> How's your day going?
> Everything is good
> Well done!

**13-Write a Python program to print the following numbers up to 2 decimal places

In [83]:
x=23.6768922
print(f"{x:.2f}")

23.68

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
y=-45.4654464198756
print(f"{y:+.2f}")

-45.47

**15-Write a Python program to display a number with a comma separator

In [ ]:
a=20000000
print(f"{a:,}")

20,000,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
sr="welcome"
print("".join(reversed(sr)))
print(sr[::-1])

emoclew
emoclew

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [85]:
word="opportunity"
count=dict()
for i in word:
    if i in count:
        count[i]+=1
    else:
        count[i]=1   
print(count)

{'o': 2, 'p': 2, 'r': 1, 't': 2, 'u': 1, 'n': 1, 'i': 1, 'y': 1}

In [97]:
d=dict()
for i in word:
    d[i]=word.count(i)
d

{'o': 2, 'p': 2, 'r': 1, 't': 2, 'u': 1, 'n': 1, 'i': 1, 'y': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [98]:
string="exercise"
for i in string:
    if string.count(i)==1:
        print(i)
        break

x

**19-Write a Python program to remove spaces from a given string

In [99]:
s="Hello everyone! how was your day?"
print(s.replace(" ",""))

Helloeveryone!howwasyourday?

**20-Write a Python program to count the number of non-empty substrings of a given string

In [101]:
instr=input("Enter a string: ")  #play
def numOfSubstring(instr):
    return (len(instr)*(len(instr)+1)/2)

print(numOfSubstring(instr))

10.0

**21-write a Python program to swap first and last element of any list.

In [102]:
l=[1,2,3,4,5,6]
l[0],l[-1]=l[-1],l[0]
l

[6, 2, 3, 4, 5, 1]

In [103]:
lis=[5,6,7,8,9]
x=lis.pop()
lis.insert(x,lis[0])
lis.pop(0)
lis.insert(0,x)
lis

[9, 6, 7, 8, 5]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [104]:
l=[23,65,19,90,50]
p1=int(input("Enter position 1: "))
p2=int(input("Enter position 2: "))
l[p1-1],l[p2-1]=l[p2-1],l[p1-1]
l

[19, 65, 23, 90, 50]

**23- search for the all ways to know the length of the list

In [105]:
len(l)

5

In [106]:
count=0
for i in l:
    count+=1
print(count)

5

In [107]:
list_length = sum(1 for i in l)
list_length

5

In [108]:
from collections import Counter
list_len = sum(Counter(l).values())
list_len

5

In [109]:
from operator import length_hint
print(length_hint(l))

5

**24-write a Python code to find the Maximum number of list of numbers.

In [111]:
l=[23,65,19,90,50]
list_to_set=set(l)
l=list(list_to_set)
l[-1]

90

In [110]:
l.sort()
print(l[-1]) # way 2
print(max(l)) # way 3

90
90

**25-write a Python code to find the Minimum number of list of numbers.

In [112]:
l=[23,65,19,90,50]
l.sort()
print(l[0])
print(min(l))

19
19

**26-search for if an elem is existing in list

In [113]:
l=[20,89,5,1,56,9,4,3,7,6,100]
num =int(input("Enter a number: "))
def search(num):
    for i in l:
        if i==num:
            return True
    return False
if search(num):
    print('The number is in the list')
else:
    print('The number isn\'t in the list')

The number is in the list

**27- clear python list using different ways

In [114]:
list1=[2,5,6,7,8]
list1.clear()
print(list1)
list2=[1,2,3,4]
list2=[]
print(list2)
list3=[9,3,22]
del list3[:]
print(list3)

[]
[]
[]

In [115]:
list4=[11,5,8,90]
while(len(list4)!=0):
    list4.pop()
print(list4)

[]

**28-remove duplicated elements from a list

In [116]:
list5=[1,3,5,3,1,3,3,6,5]
result=set(list5)
result=list(result)
print(result)

[1, 3, 5, 6]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [117]:
keys=['name','id']
values=['Gfg',3,'is',8]
answer=[]
for i in range(0,len(values),2): #I loop on len(values) because len(values)> len(keys)
    answer.append({keys[i%len(keys)]:values[i],keys[i%len(keys) + 1]:values[i+1] })
print(answer)

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

In [ ]:
"""for i in range(len(values)): 
    answer.append({keys[i%len(keys)]:values[i]})"""

**30-write a python program to count unique values inside a list using different ways

In [118]:
lis=[1,2,1,3,3,4,1]
st=set(lis)
lis=list(st)
count=0
for i in lis:
    count+=1
count

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [139]:
k=int(input())
lis=[1,2,3,3,5,3,3,5,5,5,6,5,1,1,2,1]
def freq(k):
    lst=set()
    for i in lis:
        if lis.count(i)>k:
            lst.add(i)
    return lst   
print(freq(k))

{1, 3, 5}

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [121]:
N_list=[1,2,2,3,4,5]
O_list=[]
for i in range(len(N_list)-1):
    m=max(N_list[i],N_list[i+1])
    O_list.append(m)
print(O_list)

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [122]:
def comb(L):
	for i in range(3):
		for j in range(3):
			for k in range(3):
				if (i!=j and j!=k and i!=k):
					print(L[i], L[j], L[k])

comb([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [123]:
l=[1,2,3]
for i in range(0,len(l)):
    print([l[i]])
    for k in range(i+1,len(l)):
         print([l[i],l[k]])
         for j in range(k+1,len(l)):
              print([l[i],l[k],l[j]])

[1]
[1, 2]
[1, 2, 3]
[1, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [124]:
l1=['a','b']
l2=[1,2]
l3=[]
l4=[]
for i in range(len(l1)):
    l3.append((l1[i],l2[i]))
    l4.append((l1[i],l2[1-i]))
l5=[l3,l4] 
print(l5)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [126]:
removed_element=int(input()) # 2
li=[1,2,3,1,4,5,2,2,5]
x=li.count(removed_element)
while(x!=0):
  li.remove(removed_element)
  x-=1
print(li)

[1, 3, 1, 4, 5, 5]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [26]:
l=['Gfg','is','best']
l1=[0,1,2,1,0,0,0,2,1,1,2,0]
result=[]
for i in l1:
   result.append(l[i])
result

['Gfg',
 'is',
 'best',
 'is',
 'Gfg',
 'Gfg',
 'Gfg',
 'best',
 'is',
 'is',
 'best',
 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [127]:
test=[(4,5,5,4),(5,4,3)]
k = 5
N = 2
res = [ele for ele in test if ele.count(k) == N]
res

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [130]:
arr=[[1,3,3],[2,1,2],[3,2,1]]
for i in range(len(arr)):
    col_sorted= sorted(arr,key= lambda a:a[i])
    print(col_sorted)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

##### sorted by keys

In [2]:
dic={'ravi':10,'rajnish':9,'sanjeev':15,'yash':2,'suraj':32}
keys=list(dic.keys())
keys.sort()
sorted_keys={i: dic[i] for i in keys}
sorted_keys

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

##### sorted by values

In [22]:
dic={'ravi':10,'rajnish':9,'sanjeev':15,'yash':2,'suraj':32}
values=list(dic.values())
k=list(dic.keys())
values.sort()
sorted_values={k[i]: values[i] for i in range(len(values))}
sorted_values

{'ravi': 2, 'rajnish': 9, 'sanjeev': 10, 'yash': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [149]:
k=int(input())
dic={'Gfg':3,'is':7,'best':10,'for':6,'geeks':'CS'}
res={}
for key in dic:
    if not (isinstance(dic[key],int) and dic[key]>=k):  # isinstance() checked whether the value
        res[key]=dic[key]                               # is integer or not
res

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [37]:
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
dic4={}
for d in (dic1,dic2,dic3):
    dic4.update(d)
dic4

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [2]:
dic={'ravi':10,'rajnish':9,'sanjeev':15,'yash':2,'suraj':32}
for key in dic:
    print(key ,dic[key])

ravi 10
rajnish 9
sanjeev 15
yash 2
suraj 32

In [3]:
for key ,value in dic.items():
    print(key,value)

ravi 10
rajnish 9
sanjeev 15
yash 2
suraj 32

**44- Write a Python script to merge two Python dictionaries

In [12]:
dic1={'waad':1,'wessal':10,'salma':100}
dic2={'ali':2,'malik':20,'khaled':200}
def merge(*dicts):
    result=dict()
    for d in dicts:
        result.update(d)
    return result
print(merge(dic1,dic2))

{'waad': 1, 'wessal': 10, 'salma': 100, 'ali': 2, 'malik': 20, 'khaled': 200}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [1]:
dic={'ravi':10,'rajnish':9,'sanjeev':15,'yash':2,'suraj':32}
l=list(dic.values())
l.sort()
min=l[0]
max=l[len(l)-1]
print("minimum value =",min)
print("maximum value =",max)

minimum value = 2
maximum value = 32

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [28]:
dc={'c1': 'Red', 'c2': 'Green', 'c3': None}
ans={}
for key,value in dc.items():
    if value!=None:
        ans[key]=value

ans

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [32]:
t1=(1,2,4,6,77,3,55,11,90)
print(t1[1])
tuplenum = 5, 10, 15, 20, 25
print(tuplenum)
tuplenum = 5,
print(tuplenum)

2
(5, 10, 15, 20, 25)
(5,)

**48-Write a Python program to unpack a tuple into several variables

In [33]:
t=(1,2,3,4)
n1,n2,n3,n4=t
print(n1,n2,n3,n4)

1 2 3 4

**49-Write a Python program to add an item to a tuple

In [156]:
a=4,
t2=(1,5,8)
t2=t2 + a
t2

(1, 5, 8, 4)

In [39]:
t3=(1,4,7)
x=list(t3)
x.append(10)
res=tuple(x)
print(res)

(1, 4, 7, 10)

**50-Write a Python program to convert a tuple to a string

In [46]:
t= 'hello',' Aya!', ' How are you?'
s=''
for i in t:
    s+=i
s

'hello Aya! How are you?'

**51-Write a Python program to convert a list to a tuple

In [47]:
l=[3,7,99]
t=tuple(l)
print(t)

(3, 7, 99)

**52-Write a Python program to reverse a tuple

In [61]:
t=('a','b','c','d',1,2,3)
print(tuple(reversed(t)))

(3, 2, 1, 'd', 'c', 'b', 'a')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [17]:
j= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
t=[]
for i in j:
   t.append(i[:-1] + (100,))
print(t)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [23]:
s='python 3.0'
t=()
for i in s:
    if i!=' ':
      t+=(i,)
print(t)

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [42]:
z=((10,20,30),(100,60,40,50),(99,46,53))
res=[]
for i in z:
    res.append(sum(i)/len(i))
res

[20.0, 62.5, 66.0]

**56-Write a Python program to add member(s) to a set.

In [44]:
language_set=set()
language_set.add('python')
language_set.update(['java','c++','c#'])
print(language_set)

{'c#', 'python', 'c++', 'java'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [49]:
st={1,2,3,4,5,6,7,8}
print('remove 5 from the set')
st.discard(5)
print(st)
print('remove 1 from the set')
st.discard(1)
print(st)

remove 5 from the set
{1, 2, 3, 4, 6, 7, 8}
remove 1 from the set
{2, 3, 4, 6, 7, 8}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [52]:
a={1,4,6,8,9}
b={2,4,6,5,3}
print("Union", a|b)
print("intersection", a&b)
print("difference",a-b)
print('symmetric difference',a^b)

Union {1, 2, 3, 4, 5, 6, 8, 9}
intersection {4, 6}
difference {8, 1, 9}
symmetric difference {1, 2, 3, 5, 8, 9}

**59-Write a Python program to find the maximum and minimum values in a set

In [61]:
orset={10,6,2,9,1}
l= list(orset)
l.sort()
print("min value:",l[0])
print("max value",l[len(l)-1])

min value: 1
max value 10

In [62]:
print("maximum value:",max(orset))
print("minimum value:",min(orset))

maximum value: 10
minimum value: 1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [157]:
given_list=[(1,4),(3,2),(9,4),(6,10)]
given_value=int(input())  # 5
for i in given_list:
    s=sum(i)
    if s== given_value:
        print(i)

(1, 4)
(3, 2)